body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	padding-top:100px;
	background-color: #E1F5FE;
}
#logoSpace {
	position: fixed;
	top: 0px;
	padding-left: 20px;
	height: 10%;
}
#logoSpace h1 {
	font-family: ThinGoogle;
	color: white;
	height: 100%;
	margin: 0px;
	margin-top: 10px;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #0288D1;
	height: 10%;
	width: 100%;
	z-index: 10;
}
nav {
	position: fixed;
	top: 1%;
	right: 10px;
	height: 10%;
	z-index: 10;
}
nav ul li {
	margin-right: 40px;
	display: inline-block;
	padding-bottom: 7px;
}
.navCel {
	color: white;
	font-family: RegularGoogle;
	font-size: large;
	font-size: 20px;
	text-decoration: none;
	list-style: none;
}
nav ul li:hover {
	border-bottom: 3px #FFFFFF solid;
}
.divsMod {
	display: inline-block;
	width: 40%;
}
/*
 * Modules div
 */
.divBig{
	width: 1200px;
	box-shadow: 0px 0px 5px #888888;
}
/*
 * Tico div
 */
#globalDiv {
	padding-left: 100px;
}
.divsMod {
	width: 40%;
	right: 0px;
	display: inline-block;
}
.accordion {
	padding-top: 5px;
	width: 870px;
	height: 343px;
	display: inline-block;
}

#divMpsi {
	display: inline-block;
	vertical-align: top;
}
.moduleDivS {
	width: 290px;
	height: 343px;
	margin: 7px;
	display: inline-block;
	vertical-align: top;
}
.moduleDivS #imagMpsi {
	display: block;
	height: 50%;
}
.moduleDivS #imagMpsi img {
	width: 100%;
	height: 100%;
}
.moduleDivS #descMpsi {
	display: block;
	background-color: #009688;
	margin-top: -22px;
	color: white;
	height: 50%;
	padding: 5px;
}
/*
 * General Accordion****************************************************************************/
.accordion section h2 a {
	padding: 8px 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #eee;
	text-decoration: none;
	font-family: CondensedGoogle;
}
/*slide ouvert*/
.accordion section {
	float: left;
	overflow: hidden;
	color: #333;
	cursor: pointer;
	background: #4DB6AC;
	margin: 3px;
}
.accordion section:hover {
	background: #444;
}
.accordion section p {
	display: none;
}
/*fin de l'accordion general****************************************************************************/
/*Accordion vertical *************************************************************************/
.vertical section {
	width: 100%;
	height: 48px;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	-o-transition: height 0.2s ease-out;
	-ms-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}

.vertical section h2 {
	position: relative;
	left: 0;
	top: -15px;
}


/*
 * Tico
 */
.accordion1 {
	padding-top: 5px;
	padding-right: 15px;
	width: 860px;
	height: 343px;
	display: inline-block;
	}
#divTico {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
}
.moduleDivS #imagTICO {
	display: block;
	height: 50%;
}
.moduleDivS #imagTICO img {
	width: 100%;
	height: 100%;
}
.moduleDivS #descTico {
	display: block;
	background-color: #F44336;
	margin-top: -22px;
	color: white;
	height: 50%;
	padding: 5px;
}
/*
 * General Accordion****************************************************************************/

.accordion1 section h2 a {
	padding: 8px 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #eee;
	text-decoration: none;
	font-family: CondensedGoogle;
}
/*slide open*/
.accordion1 section {
	float: left;
	overflow: hidden;
	color: #333;
	cursor: pointer;
	background: #E57373;
	margin: 3px;
	padding-left: 7px;
}
.accordion1 section:hover {
	background: #444;
}
.accordion1 section p {
	display: none;
}

/*fin de l'accordion general****************************************************************************/
/*Accordion vertical *************************************************************************/
.vertical1 section {
	width: 100%;
	height: 48px;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	-o-transition: height 0.2s ease-out;
	-ms-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}

.vertical1 section h2 {
	position: relative;
	left: 0;
	top: -15px;
}


/*
 * Web
 */
.accordion2 {
	padding-top: 5px;
	padding-right: 15px;
	width: 870px;
	height: 343px;
	display: inline-block;
}
.moduleDivS #imagWeb {
	display: block;
	height: 50%;
}
.moduleDivS #imagWeb img {
	width: 100%;
	height: 100%;
}
.moduleDivS #descWeb {
	display: block;
	background-color: #E91E63;
	margin-top: -22px;
	color: white;
	height: 50%;
	padding: 5px;
}
#divWeb {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
}
/*
 * General Accordion****************************************************************************/
/*Slide ouvert*/

.accordion2 section h2 a {
	padding: 8px 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #eee;
	text-decoration: none;
	font-family: CondensedGoogle;
}
/*slide open*/
.accordion2 section {
	float: left;
	overflow: hidden;
	color: #333;
	cursor: pointer;
	background: #F06292;
	margin: 3px;
	padding-left: 7px;
}
.accordion2 section:hover {
	background: #444;
}
.accordion2 section p {
	display: none;
}


/*fin de l'accordion general****************************************************************************/
/*Accordion vertical *************************************************************************/
.vertical2 section {
	width: 100%;
	height: 48px;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	-o-transition: height 0.2s ease-out;
	-ms-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}

.vertical2 section h2 {
	position: relative;
	left: 0;
	top: -15px;
}

/*
 * Siad
 */
.accordion3 {
	padding-top: 5px;
	padding-right: 15px;
	width: 870px;
	height: 343px;
	display: inline-block;
}
.moduleDivS #imagSiad {
	display: block;
	height: 50%;
}
.moduleDivS #imagSiad img {
	width: 100%;
	height: 100%;
}
.moduleDivS #descSiad {
	display: block;
	background-color: #673AB7;
	margin-top: -22px;
	color: white;
	height: 50%;
	padding: 5px;
}
#divSiad {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
}

/*
 * General Accordion****************************************************************************/
/*Slide ouvert*/

a{
	text-decoration: none;
	color: #eee;
}
a:visited{
	color: #eee;
}
.accordion3 section h2 a {
	padding: 8px 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #eee;
	text-decoration: none;
	font-family: CondensedGoogle;
}
/*slide open*/
.accordion3 section {
	float: left;
	overflow: hidden;
	color: #333;
	cursor: pointer;
	background: #9575CD;
	margin: 3px;
	padding-left: 7px;
}
.accordion3 section:hover {
	background: #444;
}
.accordion3 section p {
	display: none;
}
	
/*fin de l'accordion general****************************************************************************/
/*Accordion vertical *************************************************************************/
.vertical3 section {
	width: 100%;
	height: 48px;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	-o-transition: height 0.2s ease-out;
	-ms-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}

.vertical3 section h2 {
	position: relative;
	left: 0;
	top: -15px;
}

/*
 * Anad
 */
.accordion4 {
	padding-top: 5px;
	padding-right: 15px;
	width: 870px;
	height: 343px;
	display: inline-block;
}
.moduleDivS #imagAnad {
	display: block;
	height: 50%;
}
.moduleDivS #imagAnad img {
	width: 100%;
	height: 100%;
}
.moduleDivS #descAnad {
	display: block;
	background-color: #9C27B0;
	margin-top: -22px;
	color: white;
	height: 50%;
	padding: 5px;
}
#divAnad {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
}

/*
 * General Accordion****************************************************************************/

.accordion4 section h2 a {
	padding: 8px 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #eee;
	text-decoration: none;
	font-family: CondensedGoogle;
}
/*slide open*/
.accordion4 section {
	float: left;
	overflow: hidden;
	color: #333;
	cursor: pointer;
	background: #BA68C8;
	margin: 3px;
	padding-left: 7px;
}
.accordion4 section:hover {
	background: #444;
}
.accordion4 section p {
	display: none;
}

/*fin de l'accordion general****************************************************************************/
/*Accordion vertical *************************************************************************/
.vertical4 section {
	width: 100%;
	height: 48px;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	-o-transition: height 0.2s ease-out;
	-ms-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}
.vertical4 section h2 {
	position: relative;
	left: 0;
	top: -15px;
}


/*
 * Bda
 */
.accordion5 {
	padding-top: 5px;
	padding-right: 15px;
	width: 870px;
	height: 343px;
	display: inline-block;
}
.moduleDivS #imagBda {
	display: block;
	height: 50%;
}
.moduleDivS #imagBda img {
	width: 100%;
	height: 100%;
}
.moduleDivS #descBda {
	display: block;
	background-color: #F44336;
	margin-top: -22px;
	color: white;
	height: 50%;
	padding: 5px;
}
#divBdd {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
}

/*
 * General Accordion****************************************************************************/
/*Slide ouvert*/


.accordion5 section h2 a {
	padding: 8px 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #eee;
	text-decoration: none;
	font-family: CondensedGoogle;
}
/*slide open*/
.accordion5 section {
	float: left;
	overflow: hidden;
	color: #333;
	cursor: pointer;
	background: #E57373;
	margin: 3px;
	padding-left: 7px;
}
.accordion5 section:hover {
	background: #444;
}
.accordion5 section p {
	display: none;
}

/*fin de l'accordion general****************************************************************************/
/*Accordion vertical *************************************************************************/
.vertical5 section {
	width: 100%;
	height: 48px;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	-o-transition: height 0.2s ease-out;
	-ms-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}


.vertical5 section h2 {
	position: relative;
	left: 0;
	top: -15px;
}

/*
 * Style des textes des divs
 */
.textDesc {
	font-family: CondensedGoogle;
}
.titleDesc {
	font-family: LigthItalicGoogle;
}
/*
 * Footer
 */
footer {
	background-color: #03A9F4;
	height: 100px;
	padding-left: 37%;
}
footer ul li {

	padding-top: 10px;
	display: inline-block;
	margin-left: 5px;
}
footer ul li img {
	width: 50px;
}
footer ul {
	list-style: none;
}
footer h4 {
	color: white;
	padding-left: 45px;
	padding-top: 0px;
	margin-top: 0px;
}

/*
 * Fonts
 */
@font-face {
	font-family: 'RegularGoogle';
	src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'ThinGoogle';
	src: url('fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: 'CondensedGoogle';
	src: url('fonts/RobotoCondensed-Light.ttf');
}
@font-face {
	font-family: 'LigthItalicGoogle';
	src: url('fonts/Roboto-LightItalic.ttf');
}
/*
 * Separators
 */
.separator{
	height: 100px;
}
/*
 * Liens exos
 */
#liensExosDiv{
	float: left;
	overflow: hidden;
	margin: 3px;
}
#liensExosDiv ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-left: 80px;
}
#liensExosDiv ul li{
  display:inline-block;
  font-family: RegularGoogle, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  width:120px;
  border: 1px solid #888;
}
#liensExosDiv ul li a{
  text-decoration: none;
  color: #000;
  display: block;
  transition: .3s background-color;
}
.lienExos:hover{
	background-color: #005f5f;
	color: white;
}